.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 82vh;
}

.download-section {
    margin-top: 20px;
}
