.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 82vh;
}

.form-label {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.result-section {
    margin-top: 20px;
}

.predictions-section {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.output-section {
    margin-top: 20px;
}

.image-carousel {
    margin-top: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
